<div class="row">
  <div class="col-lg-12">
    <h1>ニューレビュー登録</h1>
    <ul>
      <li>書籍名：<%= @book.title %></li>
      <li>価格：<%= @book.price %></li>
      <li>出版社：<%= @book.publisher %></li>
    </ul>

    <hr>
    <%= render 'form' %>
  </div>
</div>
